* {
    padding: 0px;
    margin: 0px;
}

.contenido{
    height: 100vh;
}


.contenido .seccion_mapa {
    height: 60%;
    width: 100%;
    position: relative;
}

.contenido .seccion_mapa .visor{
    height: 100%;
    width: 100%;
}


.contenido .seccion_fotos{
    height: 40%;
    width: 100%;
}

.contenido .seccion_fotos .card{
    height: 100%;
    width: 100%;
}

.contenido .seccion_fotos .card-header{
    height: 20%;
    width: 100%;
    text-align: center;
}

.contenido .seccion_fotos .card-body{
    height: 80%;
    width: 100%;
}

.contenido .seccion_fotos .card-body .img-fluid{
    height: 260px;
    width: 60%;
}

.contenido .foto-form{
    height: 100vh;
    width: 100%;
    padding-top: 10px;
}

.leaflet-popup{
    left: -42px;
}


.leaflet-popup-content-wrapper{
    height: 120px;
    width: 95px;
    padding:0px;
}

.leaflet-popup-content{
    width:95px;
    margin:0px;
}
